@page "/xemblog/{id:int}"
@model WebApplication1.Pages_Blog.DetailsModel

@{
    ViewData["Title"] = @Model.Article.Title;
}

<h1>@Model.Article.Title</h1>
<p><i>@Html.DisplayFor(model => model.Article.Created)</i></p>
<hr />
@Html.Raw(Model.Article.Content)

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Sửa đổi</a> |
    <a asp-page="./Index">Danh sách bài viết</a>
</div>
